* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0;
    font-family: poppins;
}

.container {
    padding: 2rem;
}

.primary-linear-gradient {
    background: linear-gradient(0deg, #3a025d , #93028b);
}

.yellow {
    background-color: rgb(255, 234, 0);
    padding: 5px 10px;
    border-radius: 5px;
}

.nav {
    list-style: none;
    display: flex;
    background-color: white;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.nav li {
    cursor: pointer;
}

.btn {
    border: none;
    cursor: pointer;
    padding-inline: 2rem;
    font-weight: bold;
}

.container11 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 500px) {
    .container11,
    .container2,
    .container3,
    .container411 {
        flex-direction: column-reverse;
        gap: 2rem !important;
    }
    .container112 img {
        margin: 0 auto;
    }

    .container411 {
        gap: 5rem !important;
    }
}

.white {
    color: white;
}

.container111 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.container111 p {
    text-align: center;
    font-size: 20px;
}

.container112 {
    display: flex;
    justify-content: end;
}

.container11 .container112 img {
    object-fit: contain;
    width: 70%;
}

.container11 {
    margin-bottom: 2rem;
}

.container2 {
    display: flex;
    gap: 10rem;
    padding: 5rem;
}

.cards {
    background-color: white;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    flex-grow: 1;
}

.violet {
    color: #3a025d;
}

.cards p {
    text-align: center;
}

.container3 {
    display: flex;
    gap: 1rem;
}

.center {
    text-align: center;
}

.cont3 {
    background-color: white;
    padding: 3rem 0;
}

.container41 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container411 {
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
}

.container411 img {
    object-position: 0 0;
    background-color: #93028b;
    margin-top: -6rem;
    width: 100px;
    height: 100px;
    border: 2px solid white;
}